body {
	background-color: #74AFAD;
	font-family: "Open Sans", sans-serif;
}
.a {
	list-style-type: none;
}

#style-deeply-nested-element {
	font-weight: bold; 
}

.icon_resize {
	width: 32px;
	height: 32px:;
}

.center {
	text-align: center;
}

.secret-message:hover {
	display: block;
	font-size: 1.5em
}
