body {
	background-color: #74AFAD;
	font-family: "Open Sans", sans-serif;
}
.a {
	list-style-type: none;
}

#style-deeply-nested-element {
	font-weight: bold; 
}
nav > a:hover {
	font-size: 1.5em;
}

.center {
	text-align: center;
}

#color {color:hotpink;
}